/* =============================================================================
- Base
Basic and global styles for structural layout, page templates and link styles
============================================================================= */


/* 	STRUCTURAL LAYOUT
	----------------- */
body {
    background-color: #eee;
    font-size: 12px;
    font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    color: #000000;  
}

#contenido{
    margin: 0px auto; width: 960px;
    background:#ffffff;
    /* Sombra */
    border: 1px solid #b5b5b5; box-shadow: 0px 0px 10px rgba(0,0,0,0.24);border-radius: 6px;padding: 0px 10px 25px 10px; word-spacing: 2px;margin: 0px auto 0px auto;    
}
#top {
    position: relative;
    /*background-color: #036fab; */
    color: white;
    padding: 5px;
    margin: 2px 0px 10px 0px;
}
#bottom {
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}
#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}
#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}
.center_content {
    position: relative;
    padding: 5px;
}
.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}
.right_content {
/*   este es el estilo para la zona del centro en la platilla de grupos */
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

/* 	LINKS
	----------------- 
#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}
#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}
*/

/* =============================================================================
- Typography
Headings, text element, lists, code, and more
============================================================================= */

h1 {
    font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
    border-bottom: 1px solid #AFAFAF; 
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px 5px 0px;
    padding: 0px;
    
}

.imagenPie{
    width: 70px;
    height: 17px;
    border: none;
}

